<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>My Website</title>
    <script src="https://cdn.tiny.cloud/1/ck870qzv7aboelg00w5akjroslk5wa47amzahl7nw8hl411b/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
</head>

<body>
    <header>
        <img src="/images/1.jpg" alt="image 1">
        <h1><a href="/"
                style="text-decoration: none; cursor: pointer; color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;">Welcome
                to My Blog</a>
        </h1>
        <p>The above tag refers login page</p>
    </header>