<nav>
    <ul>
        <li><a href="/addPage" class="links">Add Page</a></li>

        <li><a href="/editPage" class="links">Edit pages</a></li>
 
        <li style="float: right;" class="links"><a href="/logout">Logout</a></li>
    </ul>
</nav>