<%- include('layouts/header') -%>

  <%- include('adminHeader') -%>

    <h1 style="text-align: center;">Welcome</h1>

    <p style="font-weight: bold; text-align: center;">Hello Admin, welcome to the dashboard</p>

    <%- include('layouts/footer') -%>