<%- include('layouts/header') -%>

    <%- include('adminHeader') -%>

        <h1 style="text-align: center;">Delete page</h1>

        <p style="font-weight: bold; text-align: center;">You have successfully deleted the page!</p>

        <%- include('layouts/footer') -%>