<%- include('layouts/header') -%>

    <h1 style="text-align: center;">Logout</h1>

    <p style="font-weight: bold; text-align: center;">You have successfully logged out!</p>

<%- include('layouts/footer') -%>