<%- include('layouts/header') -%>

    <%- include('adminHeader') -%>

        <h1 style="text-align: center;">Add new page</h1>

        <p style="font-weight: bold; text-align: center;">You have successfully created new page!</p>

        <%- include('layouts/footer') -%>